<meta charset="utf-8">
<html lang="en">
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.4.1.js"
            integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
            integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
            integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
            crossorigin="anonymous"></script>
    <script src="https://d3js.org/d3.v6.js"></script>
    <script src="https://d3js.org/d3.v6.min.js"></script>
    <script src="https://unpkg.com/d3-simple-slider"></script>
    <script type="text/javascript" src="/javascripts/loadactivity.js"></script>

    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">

    <style>
    #custom-handle1,#custom-handle2,#custom-handle3,#custom-handle4,#custom-handle5,#custom-handle6,#custom-handle7,#custom-handle8 {
      width: 3em;
      height: 1.6em;
      top: 50%;
      margin-top: -.8em;
      text-align: center;
      line-height: 1.6em;
    }
    input{
        background-color:lightblue;

    }

    div.row{
      padding:40px;
      height:100px;
      margin-left:15%;
      margin-right:15%;
      background-color:lightblue;
    }
    div.row p{
      font-size:18px;
    }
    p{
        font-size:18px;
    }
    td{
      padding:15px;
      background-color:lightblue;
    }
    </style>

    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script>
    old=[0,0,0,0,0,0,0,0];
    $( function() {

          var chart = new CanvasJS.Chart("chartContainer", {
            animationEnabled: true,
            data: [{
              type: "pie",
              startAngle: 240,
              yValueFormatString: "##0\"%\"",
              indexLabel: "{label} {y}",
              dataPoints: [
                {y: 100, label: "Unassigned population", color:"white"},
                {y: 0, label: "Hindu"},
                {y: 0, label: "Muslim"},
                {y: 0, label: "Christian"},
                {y: 0, label: "Sikh"},
                {y: 0, label: "Buddhist"},
                {y: 0, label: "Jain"},
                {y: 0, label: "Others"},
                {y: 0, label: "None"},
              ]
            }]
          });
          chart.render();

      var handle1 = $( "#custom-handle1" );
      var slider1 = $( "#slider1" ).slider({
        create: function() {
          handle1.text( $( this ).slider( "value" ) );
        },
        slide: function( event, ui ) {
          handle1.text( ui.value );
          $( "#hindu" ).val( ui.value ).change();
          chart.options.data[0].dataPoints[1].y = ui.value;
          chart.options.data[0].dataPoints[0].y = 100-(
          chart.options.data[0].dataPoints[1].y+
          chart.options.data[0].dataPoints[2].y+
          chart.options.data[0].dataPoints[3].y+
          chart.options.data[0].dataPoints[4].y+
          chart.options.data[0].dataPoints[5].y+
          chart.options.data[0].dataPoints[6].y+
          chart.options.data[0].dataPoints[7].y+
          chart.options.data[0].dataPoints[8].y);

          chart.render();
        }
      });
      $( "#hindu" ).val( $( "#slider1" ).slider( "value" ) );

      var handle2 = $( "#custom-handle2" );
      $( "#slider2" ).slider({
        create: function() {
          handle2.text( $( this ).slider( "value" ) );
        },
        slide: function( event, ui ) {
          handle2.text( ui.value );
          $( "#muslim" ).val( ui.value ).change();
          chart.options.data[0].dataPoints[2].y = ui.value;
          chart.options.data[0].dataPoints[0].y = 100-(
          chart.options.data[0].dataPoints[1].y+
          chart.options.data[0].dataPoints[2].y+
          chart.options.data[0].dataPoints[3].y+
          chart.options.data[0].dataPoints[4].y+
          chart.options.data[0].dataPoints[5].y+
          chart.options.data[0].dataPoints[6].y+
          chart.options.data[0].dataPoints[7].y+
          chart.options.data[0].dataPoints[8].y);

          chart.render();
        }
      });
      $( "#muslim" ).val( $( "#slider2" ).slider( "value" ) );

      var handle3 = $( "#custom-handle3" );
      $( "#slider3" ).slider({
        create: function() {
          handle3.text( $( this ).slider( "value" ) );
        },
        slide: function( event, ui ) {
          handle3.text( ui.value );
          $( "#christian" ).val( ui.value ).change();
          chart.options.data[0].dataPoints[3].y = ui.value;
          chart.options.data[0].dataPoints[0].y = 100-(
          chart.options.data[0].dataPoints[1].y+
          chart.options.data[0].dataPoints[2].y+
          chart.options.data[0].dataPoints[3].y+
          chart.options.data[0].dataPoints[4].y+
          chart.options.data[0].dataPoints[5].y+
          chart.options.data[0].dataPoints[6].y+
          chart.options.data[0].dataPoints[7].y+
          chart.options.data[0].dataPoints[8].y);

          chart.render();
        }
      });
      $( "#christian" ).val( $( "#slider3" ).slider( "value" ) );

      var handle4 = $( "#custom-handle4" );
      $( "#slider4" ).slider({
        create: function() {
          handle4.text( $( this ).slider( "value" ) );
        },
        slide: function( event, ui ) {
          handle4.text( ui.value );
          $( "#sikh" ).val( ui.value ).change();
          chart.options.data[0].dataPoints[4].y = ui.value;
          chart.options.data[0].dataPoints[0].y = 100-(
          chart.options.data[0].dataPoints[1].y+
          chart.options.data[0].dataPoints[2].y+
          chart.options.data[0].dataPoints[3].y+
          chart.options.data[0].dataPoints[4].y+
          chart.options.data[0].dataPoints[5].y+
          chart.options.data[0].dataPoints[6].y+
          chart.options.data[0].dataPoints[7].y+
          chart.options.data[0].dataPoints[8].y);

          chart.render();
        }
      });
      $( "#sikh" ).val( $( "#slider4" ).slider( "value" ) );

      var handle5 = $( "#custom-handle5" );
      $( "#slider5" ).slider({
        create: function() {
          handle5.text( $( this ).slider( "value" ) );
        },
        slide: function( event, ui ) {
          handle5.text( ui.value );
          $( "#buddhist" ).val( ui.value ).change();
          chart.options.data[0].dataPoints[5].y = ui.value;
          chart.options.data[0].dataPoints[0].y = 100-(
          chart.options.data[0].dataPoints[1].y+
          chart.options.data[0].dataPoints[2].y+
          chart.options.data[0].dataPoints[3].y+
          chart.options.data[0].dataPoints[4].y+
          chart.options.data[0].dataPoints[5].y+
          chart.options.data[0].dataPoints[6].y+
          chart.options.data[0].dataPoints[7].y+
          chart.options.data[0].dataPoints[8].y);

          chart.render();
        }
      });
      $( "#buddhist" ).val( $( "#slider5" ).slider( "value" ) );

      var handle6 = $( "#custom-handle6" );
      $( "#slider6" ).slider({
        create: function() {
          handle6.text( $( this ).slider( "value" ) );
        },
        slide: function( event, ui ) {
          handle6.text( ui.value );
          $( "#jain" ).val( ui.value ).change();
          chart.options.data[0].dataPoints[6].y = ui.value;
          chart.options.data[0].dataPoints[0].y = 100-(
          chart.options.data[0].dataPoints[1].y+
          chart.options.data[0].dataPoints[2].y+
          chart.options.data[0].dataPoints[3].y+
          chart.options.data[0].dataPoints[4].y+
          chart.options.data[0].dataPoints[5].y+
          chart.options.data[0].dataPoints[6].y+
          chart.options.data[0].dataPoints[7].y+
          chart.options.data[0].dataPoints[8].y);

          chart.render();
        }
      });
      $( "#jain" ).val( $( "#slider6" ).slider( "value" ) );

      var handle7 = $( "#custom-handle7" );
      $( "#slider7" ).slider({
        create: function() {
          handle7.text( $( this ).slider( "value" ) );
        },
        slide: function( event, ui ) {
          handle7.text( ui.value );
          $( "#others" ).val( ui.value ).change();
          chart.options.data[0].dataPoints[7].y = ui.value;
          chart.options.data[0].dataPoints[0].y = 100-(
          chart.options.data[0].dataPoints[1].y+
          chart.options.data[0].dataPoints[2].y+
          chart.options.data[0].dataPoints[3].y+
          chart.options.data[0].dataPoints[4].y+
          chart.options.data[0].dataPoints[5].y+
          chart.options.data[0].dataPoints[6].y+
          chart.options.data[0].dataPoints[7].y+
          chart.options.data[0].dataPoints[8].y);

          chart.render();
        }
      });
      $( "#others" ).val( $( "#slider7" ).slider( "value" ) );

      var handle8 = $( "#custom-handle8" );
      $( "#slider8" ).slider({
        create: function() {
          handle8.text( $( this ).slider( "value" ) );
        },
        slide: function( event, ui ) {
          handle8.text( ui.value );
          $( "#none" ).val( ui.value ).change();
          chart.options.data[0].dataPoints[8].y = ui.value;
          chart.options.data[0].dataPoints[0].y = 100-(
          chart.options.data[0].dataPoints[1].y+
          chart.options.data[0].dataPoints[2].y+
          chart.options.data[0].dataPoints[3].y+
          chart.options.data[0].dataPoints[4].y+
          chart.options.data[0].dataPoints[5].y+
          chart.options.data[0].dataPoints[6].y+
          chart.options.data[0].dataPoints[7].y+
          chart.options.data[0].dataPoints[8].y);

          chart.render();
        }
      });
      $( "#none" ).val( $( "#slider8" ).slider( "value" ) );

    } );

    function submitAll() {
        var sum = 
        parseInt(document.getElementById('hindu').value)+
        parseInt(document.getElementById('muslim').value)+
        parseInt(document.getElementById('christian').value)+
        parseInt(document.getElementById('sikh').value)+
        parseInt(document.getElementById('buddhist').value)+
        parseInt(document.getElementById('jain').value)+
        parseInt(document.getElementById('others').value)+
        parseInt(document.getElementById('none').value);

        if(sum==100){
            return true;
        } else{
              alert("Error! The sum of percentages is not 100%, please try again");
            return false;
        }
    }

    function getValue(value){
      document.getElementById("total").value = 
        parseInt(document.getElementById('hindu').value)+
        parseInt(document.getElementById('muslim').value)+
        parseInt(document.getElementById('christian').value)+
        parseInt(document.getElementById('sikh').value)+
        parseInt(document.getElementById('buddhist').value)+
        parseInt(document.getElementById('jain').value)+
        parseInt(document.getElementById('others').value)+
        parseInt(document.getElementById('none').value);
    }

    </script>
</head>
<body>
    <header style="background-color: #38a3a5;">
      <div class="px-3 py-2 text-white">
        <div class="container">
          <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
            <a class="d-flex align-items-center my-2 my-lg-0 me-lg-auto text-white text-decoration-none">
              <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
                <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
              </svg>
              &nbsp;
              &nbsp;
              <span style="font-size:30px;">Split Consensus - 7 of 14</span>
            </a>
          </div>
        </div>
      </div>
    </header>
<div style="margin-left:44px;margin-right:44px;">
    <div class="text-center mt-4">
        <p class="py-2 text-danger" id="errorText1"> {{ error }} </p>
        <p><b>Drag the sliders to indicate the % of the population of India that you think are a specific declared religion.
        </b></p>
        <p class="text-danger">Time remaining: <span id="time"> 00:{{ time }}</span></p>

        <label for="total">Sum of percentages % = </label>
        <input style="border:0;font-weight:bold;background-color:white;" type="text" readonly value="0" id="total" name="total">

        <div id="chartContainer" style="height: 370px; width: 100%;"></div>
        <script src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>

        <div>
        <form id="subForm" action="/activity8/{{ userID }}/" method="POST" onsubmit="return submitAll()">
        <table>
        <tr>
        <td>
              <p>
                <label for="hindu">% of population that is Hindu:</label>
                <input onchange="getValue()" type="text" id="hindu" name="hindu" readonly style="border:0; font-weight:bold;">
              </p>
              <div id="slider1" style="width:80%;">
                <div id="custom-handle1" class="ui-slider-handle"></div>
              </div>
        </td>
        <td>
              <p>
                <label for="muslim">% of population that is Muslim:</label>
                <input onchange="getValue()" type="text" id="muslim" name="muslim" readonly style="border:0; font-weight:bold;">
              </p>
              <div id="slider2" style="width:80%;">
                <div id="custom-handle2" class="ui-slider-handle"></div>
              </div>
        </td>
        <td>
              <p>
                <label for="christian">% of population that is Christian:</label>
                <input onchange="getValue()" type="text" id="christian" name="christian" readonly style="border:0; font-weight:bold;">
              </p>
              <div id="slider3" style="width:80%;">
                <div id="custom-handle3" class="ui-slider-handle"></div>
              </div>
        </td>
        <td>
              <p>
                <label for="sikh">% of population that is Sikh:</label>
                <input onchange="getValue()" type="text" id="sikh" name="sikh" readonly style="border:0; font-weight:bold;">
              </p>
              <div id="slider4" style="width:80%;">
                <div id="custom-handle4" class="ui-slider-handle"></div>
              </div>
        </td>
        </tr>
        <tr>
        <td>
              <p>
                <label for="buddhist">% of population that is Buddhist:</label>
                <input onchange="getValue()" type="text" id="buddhist" name="buddhist" readonly style="border:0; font-weight:bold;">
              </p>
              <div id="slider5" style="width:80%;">
                <div id="custom-handle5" class="ui-slider-handle"></div>
              </div>
        </td>
        <td>
              <p>
                <label for="jain">% of population that is Jain:</label>
                <input onchange="getValue()" type="text" id="jain" name="jain" readonly style="border:0; font-weight:bold;">
              </p>
              <div id="slider6" style="width:80%;">
                <div id="custom-handle6" class="ui-slider-handle"></div>
              </div>
        </td>
        <td>
              <p>
                <label for="others">% of population that is some other religion:</label>
                <input onchange="getValue()" type="text" id="others" name="others" readonly style="border:0; font-weight:bold;">
              </p>
              <div id="slider7" style="width:80%;">
                <div id="custom-handle7" class="ui-slider-handle"></div>
              </div>
        </td>
        <td>
              <p>
                <label for="none">% of population that is not religious:</label>
                <input onchange="getValue()" type="text" id="none" name="none" readonly style="border:0; font-weight:bold;">
              </p>
              <div id="slider8" style="width:80%;">
                <div id="custom-handle8" class="ui-slider-handle"></div>
              </div>
        </td>
        </tr>
        <tr>
        </tr>
        </table>
                <p class="py-2 text-danger" id="errorText2"> {{ error }} </p>
                <input type="submit" class="btn btn-lg btn-secondary btn-block" id="submitButton" value="Submit">   
                <input type="hidden" id="sec" name="sec" value="">  
                <input type="hidden" id="extra" name="extra" value="">      
        </form>
        </div>
    </div>
</div>

</body>
<script>
function startTimer2(duration, display, captionText,userID) {
    var timer = duration, minutes, seconds;

    var timeChange = setInterval(function () {
        if (--timer < 0) {
            document.getElementById("submitButton").style.visibility = "hidden";
            document.getElementById("errorText1").innerHTML = "Time is out! Changing to next question...";
            document.getElementById("errorText2").innerHTML = "Time is out! Changing to next question...";

            clearInterval(timeChange)

            setTimeout(sendFunc2, 1000)


            function sendFunc2(){
            //    sendData(userID, 0, -1,"-1%",-1)
             document.forms.item(0).submit();
               
            }

            return
        } else {
            minutes = parseInt(timer / 60, 10)
            seconds = parseInt(timer % 60, 10);

            minutes = minutes < 10 ? "0" + minutes : minutes;
            seconds = seconds < 10 ? "0" + seconds : seconds;
            display.textContent = minutes + ":" + seconds;
            // if(minutes==1){
            //     document.getElementById('sec').value = (1-minutes)+":"+(30-seconds)
            // } else{
            //     document.getElementById('sec').value = (1)+":"+(60-seconds)
            // }

            document.getElementById('extra').value = (30-seconds);

            captionText.innerHTML = "Time remaning: " + timeText;
            timeText = minutes + ":" + seconds;
            // alert(timeText)


            console.log(sec.value);

            
        }

    }, 1000);

} 
function startTimer(duration, display, captionText,userID) {
    var timer = duration, minutes, seconds;

    var timeChange = setInterval(function () {
        if (--timer < 0) {
            document.getElementById("submitButton").style.visibility = "hidden";
            document.getElementById("errorText1").innerHTML = "Time is out! Changing to next question...";
            document.getElementById("errorText2").innerHTML = "Time is out! Changing to next question...";

            clearInterval(timeChange)

            // setTimeout(sendFunc, 1000)

            var check = confirm("Would you like an 30 extra seconds to answer your question?");
            if(check){
                startTimer2(30, display, captionText,userID);
                document.getElementById("submitButton").style.visibility = "visible";
                document.getElementById("errorText1").innerHTML = "You have an extra 30 seconds to answer the question";
                document.getElementById("errorText2").innerHTML = "You have an extra 30 seconds to answer the question";
            }
            else{
              setTimeout(sendFunc, 1000);
                document.getElementById("canvas").style.visibility = "hidden";
                document.getElementById("imgText").innerHTML = "Times up! Submit your answer.";
                display.textContent = " 00:00";

                var modal = document.getElementById("myModal");
                modal.style.display = "none";
            }


            function sendFunc(){
            //    sendData(userID, 0, -1,"-1%",-1)
                if(!check){
                    document.forms.item(0).submit();
                }          
            }

            return
        } else {
            minutes = parseInt(timer / 60, 10)
            seconds = parseInt(timer % 60, 10);

            minutes = minutes < 10 ? "0" + minutes : minutes;
            seconds = seconds < 10 ? "0" + seconds : seconds;
            display.textContent = minutes + ":" + seconds;
            if(minutes==1){
                document.getElementById('sec').value = (1-minutes)+":"+(30-seconds)
            } else{
                document.getElementById('sec').value = (1)+":"+(60-seconds)
            }
            

            captionText.innerHTML = "Time remaning: " + timeText;
            timeText = minutes + ":" + seconds;
            // alert(timeText)


            console.log(sec.value);

            
        }

    }, 1000);

}  
    var duration = '{{ time }}'
    duration = duration - 1
    var userID = '{{ userID }}';
    var question = '{{ question }}';

    display = document.querySelector('#time')
    capText = document.getElementById("caption");
    sec = document.getElementById("sec");

    window.onload = function () {

        if (duration <= 0) {
            duration = 0
        } else {
            startTimer(duration, display, capText,userID);
        }
    }

</script>
</html>

